:root {
  --primary-color: #0a2463;
  --secondary-color: #a4c8e4;
  --text-color: #261145;
  --background-color: #1e1b18;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--background-color);
  max-width: 1200px;
  margin: auto;
}

.todoWrapper {
  background: var(--secondary-color);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
  color: var(--text-color);
}

.todoInput {
  outline: none;
  background: none;
  border: 1.5px solid var(--primary-color);
  border-radius: 10px 0px 0px 10px;
  padding: 0.7rem 1rem;
  margin: 1rem 0 2rem 0;
  width: 300px;
  font-size: 1.2rem;
  color: var(--text-color);
  transition: all 0.3s ease;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.todoInput::placeholder {
  color: #46375c;
}

.todoBtn {
  position: relative;
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 0px 10px 10px 0px;
  padding: 0.7rem;
  height: 2.8rem ;
  cursor: pointer;
  left: -5px;
  font-size: 1.2rem;
}

.todoListWrapper ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-size: 1.2rem;
  border-radius: 10px ;
  color : #fff;
  padding: 0.6rem 1rem;
  margin: 0.5rem 0;
  width: 100%;
  cursor: pointer;
  background-color: var(--primary-color);
}
ul li span{
  color: #fff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
}
ul li span:hover{
  background: #c52222;
}

.todoList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.todoListWrapper .completed{
  text-decoration: line-through;
  color: #7c7a7a9a;
}
.todoFooter{
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 1rem;
}
.clearBtn {
  background: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
}